IndentWidth: 4
# IndentPPDirectives: BeforeHash
ColumnLimit: 120
# Language: C
PointerAlignment: Right
# ReflowComments: true
# SortIncludes: true
# SortUsingDeclarations: false
# SpaceAfterCStyleCast: false
# Standard: c23
# TabWidth: 8
# UseTab: Never
